
<div class="row">
    <div class="col-md-12">
        <p class="page-header">Click the button to try to perform an action that requires an authenticated user</p>
    </div>
    <div class="col-md-12">
        @Html.ActionLink("Click here", "UserInformation", null, new { @class = "btn btn-lg btn-primary" })        
    </div>

</div>
